# ignore images in out folder
out/*.png

# ignore images in out folder and all subfolders
out/**/*.png

# ignore images in out folder and all subfolders for other image types
out/**/*.jpg
out/**/*.jpeg
out/**/*.gif
out/**/*.bmp
out/**/*.tiff
out/**/*.svg

# ignore all files in out folder and all subfolders
output/**/*.jpeg
output/**/*.jpg
output/**/*.png
output/**/*.gif
output/**/*.bmp
output/**/*.tiff

wandb/**/*.png

#ignore all wandb files
wandb/
__pycache__
*/__pycache__
experiments_out
configs/hydra/cluster.yaml
SRN_FULL/