# Ignore image files in all directories
**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/*.bmp
**/*.tiff
**/*.svg

# Ignore text files in all directories
**/*.txt

# Ignore all wandb files
wandb/**

# Ignore all experiment_out files and folders
experiments_out/**

# ignore all __pycache__ files
__pycache__/